/* start of navigation */

nav {
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1;
}

.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* nav-one start */

.nav-one {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid gainsboro;
    z-index: 1;
}

.nav-one .left a {
    color: black;
    font-size: 1rem;
    padding: 1em;
    font-weight: 400;
}

.nav-one .left a:hover {
    color: #429b44;
    font-weight: 600;
}

.nav-one .right p {
    padding: 1em;
    font-size: 1rem;
    color: black;
}

.nav-one .right p span a {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

/* nav-one end */


/* nav-two start */

.nav-two {
    border-bottom: 1px solid gainsboro;
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav-two .logo a {
    padding: 1em;
    color: #429b44;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.nav-two .search {
    position: relative;
}

.nav-two input {
    width: 500px;
    height: 30px;
    border-radius: 10px;
    padding: 1.2em 1em;
    border: 2px solid #429b44;
    color: black;
    font-size: 1rem;

}

.nav-two input:hover {
    width: 600px;
}

.nav-two .search i {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #429b44;
}

.nav-two .right-main {
    width: 300px;
    padding: 1em;
}

.option-one, .option-two, .login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.option-one a, .option-two a, .login a {
    font-size: 1rem;
    color: black;
    font-weight: 500;
}

.option-one a:hover, .option-two a:hover, .login a:hover{
    color: #429b44;
    font-size: 1.1rem;
    font-weight: 300;
}

.option-one > i, .option-two > i, .login > i {
    margin-right: .5em;
}

/* nav-two end */

/* nav three start */

.nav-three{
    border-bottom: 1px solid gainsboro;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-menu {
    margin: 1em;
}

.main-menu > ul {
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-menu > ul > .list-one {
    position: relative;
    font-size: 1rem;
    
    background-color: green;
    padding: .5em 1em;
    border-radius: 10px;
}

.list-one a {
    color: #FFF;
}

.dropdown_menu {
    width: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
    border-radius: 10px;
    line-height: 2.5em;
    margin-left: 1em;

}

.dropdown_menu ul li {
    display: none;
}

.main-menu .main-ul li:hover > .dropdown_menu ul li {
    display: block;
}

.dropdown_menu ul li a {
    color: black;
    font-size: 1rem;
    margin-left: 1em;
}

.dropdown_menu ul li a:hover {
    color: #fff;
    background-color: green;
    font-size: 1.2rem;
    margin-left: 1em;
    font-weight: 500;
}

.main-ul .home, .products {
    margin-top: .5em;
}

.main-ul .home a, .products a {
    font-size: 1.2rem;
    margin-left: 1em;
    font-weight: 600;
}

.main-ul .home a {
    color: green;
}

.main-ul .products a {
    color: #253D4E;
}

.main-ul .home a:hover, .products a:hover {
    font-weight: 400;

}

.nav-three .assistant {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
}

.assistant > i  {
    font-size: 2rem;
    
}

.assistant a {
    font-size: 1.2rem;
    color: green;
    font-weight: 600;
    cursor: pointer;
}

.mobile-nav {
    display: none;
}
/* nav-three end */

/* end of navigation */

@media screen and (max-width: 700px) {

    .nav-one, .nav-two, .nav-three {
        display: none;
    }

    .mobile-nav {
        height: 60px;
        width: 100%;
        border-bottom: 1px solid gainsboro;
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        padding: 1em;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .mobile-nav .mobile-burger-menu label {
        font-size: 1.5rem;
        /* margin: 1em 0 0 0; */
        color: #429b44;
        cursor: pointer;
    }

    .mobile-nav .mobile-burger-menu label:hover {
        color: black;
        background-color: #429b44;
        border-radius: 10px;
    }

    .mobile-burger-menu input[type=checkbox]{
        display: none;
    }

    .mobile-burger-menu .side-menu-mobile {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #f1fcfc;
        padding: 1em;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }

    .mobile-burger-menu input[type=checkbox]:checked ~ .side-menu-mobile{
        display: block;
        transition: .5s ease;
    }


    .side-menu-mobile .mobile-search {
        position: relative;
    }

    .side-menu-mobile .mobile-search input {
        height: 30px;
        width: 200px;
        border-radius: 10px;
        font-size: .9rem;
        outline: none;
        border-color: #429b44 ;
        padding-left: 10px;
    }

    .side-menu-mobile .mobile-search i {
        position: absolute;
        right: 12px;
        top: 5px;
    }

    .side-menu-mobile a p {
        padding: 1em 0 1em 0;
        font-size: .9rem;
        color: #253D4E;
        font-weight: 600;
    }

    .side-menu-mobile a p:hover {
        text-decoration: underline;
        text-decoration-color: blue;
    }

    .side-menu-items {
        border: 2px solid gray;
        padding: 1em;
        border-radius: 10px;
    }


    .side-menu-items .side-item {
        padding:  1em 0 1em 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .side-menu-items .side-item a {
        color: #429b44;
        font-size: .8rem;
        font-weight: 500;
    }

    .side-menu-items .side-item a:hover {
        text-decoration: underline;
        text-decoration-color: #253D4E;
    }

    .side-menu-items .side-item i {
        font-size: 1rem;
        font-weight: bold;
        margin-right: .5em;
    }

    .mobile-nav .mobile-logo a {
        color: #429b44;
        font-weight: bold;
        font-size: 1.5rem;
        text-decoration: none;
    }

    .mobile-nav .mobile-menu {
        margin: .5em 0 0 0;
    }
    
    .mobile-nav .mobile-menu a i {
        font-size: 1rem;
        color: #429b44;
    }

    .mobile-nav .mobile-menu > a i{
        padding: 0 .3em 0 0;
    }   
    
}


@media screen and (min-width:601px) and (max-width: 900px) {

    
    
}