/* start of navigation */

nav {
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1;
}

.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* nav-one end */


/* nav-two start */

.nav-two {
    border-bottom: 1px solid gainsboro;
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav-two .logo a {
    padding: 1em;
    color: #429b44;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.nav-two .logo .company_pages{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}


.nav-two .right-main {
    width: 400px;
    padding: 1em;
}

.option-one, .option-two, .login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.option-one a, .option-two a, .login p {
    font-size: 1rem;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.option-one a:hover, .option-two a:hover, .login p:hover{
    color: #429b44;
    font-size: 1.1rem;
    font-weight: 300;
}

.option-one a i, .option-two a i, .login a i {
    margin-right: .7em;
}

.option-one,.option-two{
    position: relative;
}


.option-one .wishlist-notify{
    position: absolute;
    bottom: 1.1em;
    left: .5em;
    color: black;
    padding: 0 .2em;
    border-radius: 10px;
    background-color: antiquewhite;
    font-size: .9rem;
}

.option-two .cart-notify{
     position: absolute;
    bottom: 1.1em;
    left: .5em;
    color: black;
    padding: 0 .2em;
    border-radius: 10px;
    background-color: antiquewhite;
    font-size: .9rem;
}


/* nav-two end */

/* nav three start */

.nav-three{
    border-bottom: 1px solid gainsboro;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-menu {
    margin: 1em;
}

.main-menu > ul {
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-menu > ul > .list-one {
    position: relative;
    font-size: 1rem;
    
    background-color: green;
    padding: .5em 1em;
    border-radius: 10px;
}

.list-one a {
    color: #FFF;
}

.dropdown_menu {
    width: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
    border-radius: 10px;
    line-height: 2.5em;
    margin-left: 1em;

}

.dropdown_menu ul li {
    display: none;
}

.main-menu .main-ul li:hover > .dropdown_menu ul li {
    display: block;
}

.dropdown_menu ul li a {
    color: black;
    font-size: 1rem;
    margin-left: 1em;
}

.dropdown_menu ul li a:hover {
    color: #fff;
    background-color: green;
    font-size: 1.2rem;
    margin-left: 1em;
    font-weight: 500;
}

.main-ul .home, .products {
    margin-top: .5em;
}

.main-ul .home a, .products a {
    font-size: 1.2rem;
    margin-left: 1em;
    font-weight: 600;
}

.main-ul .home a {
    color: green;
}

.main-ul .products a {
    color: #253D4E;
}

.main-ul .home a:hover, .products a:hover {
    font-weight: 400;

}

.nav-three input {
    position: relative;
    width: 325px;
    height: 30px;
    border-radius: 10px;
    padding: 1.2em 1em;
    border: 2px solid #429b44;
    color: black;
    font-size: 1rem
}


.nav-three .search .search_results_append{
    position: absolute;
   background-color: white;
   width: 325px;
   height: 400px;
   margin-top: .5em;
   border-radius: 10px;
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-y: scroll;
   
}

.nav-three .search .search_results_append a {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    /* width: 200px; */
    margin: 1em;
}

.nav-three .search .search_results_append a img {
    width: 50px;
    margin-right: .5em;
}

.nav-three .search .search_results_append a p {
    font-size: 1.2rem;
    color: black;
    text-align: center;
}

.nav-three .search .search_results_append a p:hover {
    text-decoration: underline;
    text-decoration-color: #429b44;
}

.nav-three .search .search_results_append .no_result_found{
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-three .assistant {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
}

.assistant > i  {
    font-size: 2rem;
    
}

.assistant a {
    font-size: 1.2rem;
    color: green;
    font-weight: 600;
    cursor: pointer;
}

.mobile-nav {
    display: none;
}
/* nav-three end */

/* end of navigation */

@media screen and (max-width: 700px) {

    .nav-one, .nav-two, .nav-three {
        display: none;
    }

    .mobile-nav {
        height: 60px;
        width: 100%;
        border-bottom: 1px solid gainsboro;
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        padding: 1em;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .mobile-nav .mobile-burger-menu label {
        font-size: 1.5rem;
        /* margin: 1em 0 0 0; */
        color: #429b44;
        cursor: pointer;
    }

    .mobile-nav .mobile-burger-menu label:hover {
        color: black;
        background-color: #429b44;
        border-radius: 10px;
    }

    .mobile-burger-menu input[type=checkbox]{
        display: none;
    }

    .mobile-burger-menu .side-menu-mobile {
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #f1fcfc;
        padding: 1em;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }

    .side-menu-mobile .mobile-search {
        position: relative;
    }

    .side-menu-mobile .mobile-search input {
        height: 30px;
        width: 200px;
        border-radius: 10px;
        font-size: .9rem;
        outline: none;
        border-color: #429b44 ;
        padding-left: 10px;
    }

    .side-menu-mobile .mobile-search i {
        position: absolute;
        right: 12px;
        top: 5px;
    }

    .side-menu-mobile a p {
        padding: 1em 0 1em 0;
        font-size: .9rem;
        color: #253D4E;
        font-weight: 600;
    }

    .side-menu-mobile a p:hover {
        text-decoration: underline;
        text-decoration-color: blue;
    }

    .side-menu-items {
        border: 2px solid gray;
        padding: 1em;
        border-radius: 10px;
    }


    .side-menu-items .side-item {
        padding:  1em 0 1em 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .side-menu-items .side-item a, .side-menu-items .side-item p {
        color: #429b44;
        font-size: .8rem;
        font-weight: 500;
    }

    .side-menu-items .side-item a:hover {
        text-decoration: underline;
        text-decoration-color: #253D4E;
    }

    .side-menu-items .side-item i {
        font-size: 1rem;
        font-weight: bold;
        margin-right: .5em;
    }

    .mobile-nav .mobile-logo a {
        color: #429b44;
        font-weight: bold;
        font-size: 1.5rem;
        text-decoration: none;
    }

    .mobile-nav .mobile-menu {
        margin: .5em 0 0 0;
    }
    .mobile-nav .mobile-menu a{
        position: relative;
    }

    .mobile-nav .mobile-menu a i {
        font-size: 1rem;
        color: #429b44;

    }

    .mobile-nav .mobile-menu > a i{
        padding: 0 .3em 0 0;
    }  
    .mobile-nav .mobile-menu .mobile-wishlist-notify{
        position: absolute;
        bottom: 1.1em;
        left: .5em;
        color: black;
        padding: 0 .2em;
        border-radius: 10px;
        background-color: antiquewhite;
    } 

    .mobile-nav .mobile-menu .mobile-cart-notify{
        position: absolute;
        bottom: 1.1em;
        left: .5em;
        color: black;
        padding: 0 .2em;
        border-radius: 10px;
        background-color: antiquewhite;
    } 
    
}


@media screen and (min-width:700px) and (max-width: 900px) {

.nav-two .logo a {
    font-size: 1.5rem;
}

.nav-two input {
  width: 250px;
}
    
}

