/* start of list top */



.list-top {
    margin: 1em;
}

.list-top .all-products {
    border: 2px solid #429b44;
    width: 130px;
    margin-bottom: 1em;
    padding: .5em;
    border-radius: 5px;
}

.list-top ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #429b44;
    width: 270px;
    border-radius: 5px;
    margin-bottom: 2em;
}

.list-top ul li,
.list-top ul li a {
    padding: .2em;
    color: black;
}

.list-top ul li a:hover {
    color: #429b44;
    font-weight: 500;
}

/* end of list top */


/* start of aside menu */

.main-container-aside-product {
    display: flex;
    flex-direction: row;
}

.aside-list {
    margin-top: 1em;
    position: sticky;
    top: 80px;
}

/* start of categories list */

.categories-main {
    overflow: scroll;
    overflow-x: hidden;
    margin: 1em;
    border-radius: 20px;
    background: #fefbfb;
    box-shadow: 20px 20px 60px #d8d5d5,
        -20px -20px 60px #ffffff;
    height: 675px;

}

.categories-main ul li {
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    margin: 1em;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}


.categories-main ul li label {
    cursor: pointer;
}


.categories-main ul li img {
    width: 30px;
    border-radius: 50%;
}

.categories-main .categories-main-title,
.sortby-main-title,
.filterby-main-title {
    padding: 1em;
    margin: 1em;
    border-bottom: 2px solid black;
    width: 180px;
    font-size: 1.2rem;
    font-weight: 600;
}

.categories-main ul li input,
img,
label {
    margin: .5em;
}

.categories-main ul li:hover {
    margin: .5em;
}

/* end of categories list */

/* end of aside */


/* start of products container */

/* end of aside navigation */


/* multiple-pages start */

.multiple-pages {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.pages-main {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.multiple-pages .pages-main .pages {
    border: 2px solid #429b44;
    padding: 1em;
    border-radius: 50%;
    font-size: 1rem;
    color: #253D4E;
    cursor: pointer;
}

.multiple-pages .pages-main .pages:hover {
    background-color: #429b44;
    color: white;
    font-size: .9rem;
}

.mobile-categories-main {
    display: none;
}


/* mutiple-pages end */

/* start of media queires */

@media screen and (max-width:900px) {

    aside {
        display: none;
    }

    /* start of list top */
    .list-top {
        margin: 1em 0 0 .5em;
    }

    .list-top .all-products {
        font-size: .8rem;
        width: 100px;
        background-color: #f1fcfc;
    }

    .list-top ul {
        width: 260px;
        background-color: #f1fcfc;
    }

    .list-top ul li,
    .list-top ul li a {
        font-size: .9rem;
    }

    /* end of list top */

    /* start of products categories */


    .mobile-categories-main .mobile-categories,
    .mobile-filters {
        display: block;
    }

    .mobile-categories-main {
        position: sticky;
        top: 60px;
        background-color: #429b44;
        padding: 1em;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: auto;
    }

    .mobile-categories-main .dropdown-check-list {
        position: relative;
    }

    .mobile-categories-main .dropdown-check-list .anchor {
        background-color: #d8d5d5;
        padding: .2em;
        border-radius: 5px;
        cursor: pointer;
    }

    .mobile-categories-main .dropdown-check-list .items {
        position: absolute;
        top: 40px;
        background-color: lightgreen;
        padding: .5em;
        border-radius: 5px;
        cursor: pointer;
    }

    .mobile-categories-main .dropdown-check-list .items li {
        margin: .3em 0;
        cursor: pointer;
    }

    .mobile-categories-main .dropdown-check-list .sort-items {
        position: absolute;
        top: 40px;
        background-color: lightgreen;
        padding: .5em;
        border-radius: 5px;
        cursor: pointer;
        /* width: 150px; */
    }

    .mobile-categories-main .dropdown-check-list .sort-items li {
        cursor: pointer;
    }


    /* end of products categories */

    /* start of filters */



    /* end of filters */

    /* start of products container */

    .main-container-aside-product .products-list-container {
        display: flex;
        flex-wrap: wrap;
        margin: 1em 0 0 0;
        justify-content: center;
    }

    .main-container-aside-product .products-list-container .product-container {
        padding: 0 .5em .5em .5em;
    }

    .main-container-aside-product .products-list-container .product-main {
        width: 175px;
        height: 400px;
        padding: .7em;

    }

    .main-container-aside-product .products-list-container .product-main .product-img {
        padding: 0 .3em
    }

    .main-container-aside-product .products-list-container .product-main .product-img img {
        width: 125px;
        height: 125px;
    }


    .products-list-container .product-main .farmer-part img {
        width: 30px;
    }

    .products-list-container .product-main .category-title {
        font-size: .7rem;
    }

    .products-list-container .product-main .product-name p {
        font-size: .8rem;
    }

    .products-list-container .product-main .amount_dropdown {
        font-size: .9rem;
    }


    .products-list-container .product-main .rating-part {
        width: 120px;
    }



    .products-list-container .product-main .rating-part .rating i {
        font-size: .8rem;
    }

    .products-list-container .product-main .rating-part .rating-number p {
        font-size: .9rem;
    }

    .products-list-container .product-main .amount .amount-one {
        font-size: 1rem;
    }



    .products-list-container .product-main .qty-cat {
        width: 130px;
    }

    .products-list-container .product-main .qty-cat .qty .qty-minus img {
        width: 10px;
    }

    .product-main .fa-cart-plus {
        background-color: green;
        padding: .8em;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        margin: 1em;
    }


    /* end of products container */

}

@media screen and (min-width: 601px) and (max-width: 900px) {

    aside {
        display: none;
    }

    /* start of list top */
    .list-top {
        margin: 1em 0 0 .5em;
    }

    .list-top .all-products {
        font-size: 1rem;
        width: 120px;
        background-color: #f1fcfc;
    }

    .list-top ul {
        width: 320px;
        background-color: #f1fcfc;
    }

    .list-top ul li,
    .list-top ul li a {
        font-size: 1.1rem;
    }

    /* end of list top */

    /* start of products categories */



    /* end of products categories */

    /* start of filters */


    /* end of filters */

    /* start of products container */

    .main-container-aside-product .products-list-container {
        display: flex;
        flex-wrap: wrap;
        margin: 1em 0 0 0;
        justify-content: center;
    }

    .main-container-aside-product .products-list-container .product-container {
        padding: 0 .5em .5em .5em;
    }

    .main-container-aside-product .products-list-container .product-main {
        width: 200px;
        height: 475px;

    }

    .main-container-aside-product .products-list-container .product-main .product-img {
        padding: 0 .4em
    }

    .main-container-aside-product .products-list-container .product-main .product-img img {
        width: 150px;
        height: 150px;
    }

    .products-list-container .product-main .farmer-part {
        width: 160px;
    }

    .products-list-container .product-main .farmer-part img {
        width: 35px;
    }

    .products-list-container .product-main .category-title {
        font-size: .9rem;
    }

    .products-list-container .product-main .product-name p {
        font-size: .9rem;
    }

    .products-list-container .product-main .farmer-part .farmer-name {
        font-size: .9rem;
    }

    .products-list-container .product-main .rating-part {
        width: 135px;
    }

    .products-list-container .product-main .qty-cat {
        width: 170px;
    }

    .products-list-container .product-main .rating-part .rating i {
        font-size: .9rem;
    }

    .products-list-container .product-main .rating-part .rating-number p {
        font-size: 1rem;
    }

    .products-list-container .product-main .amount .amount-one {
        font-size: 1.1rem;
    }






    /* end of products container */
}

/* end of media queries */