/*start of list top */

/* .list-top {
    font-family: 'Poppins', sans-serif;
} */

.list-top ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #429b44;
    width: 290px;
    border-radius: 5px;
    margin: 2em 0 1em 1em;
}

.list-top ul li,
.list-top ul li a {
    padding: .2em;
    color: black;
}

.list-top ul li a:hover {
    color: #429b44;
    font-weight: 500;
}

/* end of list top */

.container_card .history-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.container_card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 9em;
}

.container_card .main-container{

    margin: 1em 0;
}


.container_card .main-container .head {
    background-color: #FFFFFF;
    color: #563e6e;
    padding: 20px 30px;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    border-radius: 5px;
    border: 1px solid black;
}

.container_card .main-container .order_deliver{
    background-color: lightgreen;
    padding: 1em;
    border-radius: 5px;
    font-weight: 500;
}


.container_card .main-container .head p {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0 .5em;
}

.container_card .main-container .other-contents{
    display: none;
}

.container_card .main-container .other-contents .many_contents{
    background-color: white;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 1em;
   border-radius: 5px;
   border: 2px solid green;
}

.container_card .main-container .other-contents .many_contents .many_images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_card .main-container .other-contents .many_contents .many_images img{
    width: 60px;
    border-radius: 50%;
}

.container_card .main-container .other-contents p {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}


