/* start of home page main */

/* start of home page adv */

.home-page-adv{
    position: relative;
    box-sizing: content-box;
    max-width: 1200px;
    margin-inline: auto;
    margin-block: 2em;
    overflow: hidden;
    box-shadow: -7px 7px 3px 0px #00000021;
    border-radius: 30px;
    
}

.home-page-adv .slider {
    overflow: hidden;
}

.home-page-adv .slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: webzone 10s infinite linear; 
}

.home-page-adv .slider figure img {
    width: 20%;
    float: left;
    height: 400px;
}

@keyframes webzone {
    0%{left:0%;}
    15%{left:0%;}
    20%{left: -100%;}
    35%{left: -100%;}
    40%{left: -200%;}
    60%{left: -200%;}
  }


/* end of home page adv */

/* start of home categories images */

.home-page-cat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em;
}

.home-page-cat .cat_cont img {
    width: 80px;
}

.home-page-cat .cat_cont {
    text-align: center;
    background-color: #F2FCE4;
    padding: 1em;
    border-radius: 10px;
}

.home-page-cat .cat_cont a p {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
}

.home-page-cat .cat_cont a p:hover {
    text-decoration: underline;
    color: blue;
}

.text-categories-home {
    margin: 2em 1em 2em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text-categories-home a {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}

.text-categories-home a:hover {
    color: #429b44;
    text-decoration: underline;
}

.text-categories-home p {
    color: #253D4E;
    font-size: 1rem;
    font-weight: 500;
}

/* end of home categories */

/* start of best  sells*/

.best-sells {
    margin-top: 2em;
}

.daily-best {
    margin-left: 1em;
    font-size: 1.5rem;
    font-weight: bold;
}

.best-sells-container {
    display: flex;
    overflow-x: scroll;
    margin-top: 2em;
    /* flex-wrap: wrap;
    justify-content: flex-end; */
}

/* end of best sells */


/* end of home page cateogires images */


/* start of hassle shopping */

.hassle-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F2FCE4;
    margin: 5em 2em 2em 2em;
    border-radius: 20px;
}

/* start of hassle left */

.hassle-text p {
    font-size: 2rem;
    padding: .5em;
    font-weight: 600;
}

.hassle-text p span {
    color: #429b44;
    font-weight: bold;
}


/* end of hassle left */


/* start of hassle right */

.hassle-right .hassle-img img {
    width: 600px;
}

.hassle-input {
    position: relative;
    padding: 1em;
}

.hassle-input i {
    position: absolute;
    top: 32px;
    left: 20px;
}

.hassle-input input {
    height: 50px;
    width: 350px;
    padding-left: 2em;
    border-radius: 20px;
    border: 2px solid #429b44;
    outline: none;
}

.hassle-input a {
    background-color: green;
    padding: 1em;
    color: white;
    border-radius: 20px;
}

/* end of hassle right */

/* end of hassle shopping */

/* start of agrokart unique */

.agrokart-unique {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4em;
    margin-bottom: 4em;
}

.agrokart-unique .unique-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    background-color: white;
    border-radius: 10px;
}

.unique-cont .unique-img {
    padding: 1em;
}

.unique-cont .unique-img i {
    font-size: 2rem;
    color: #429b44;
}

.unique-cont .unique-text {
    padding: 1em;
}

.unique-cont .unique-text p {
    color: #253D4E;
    font-size: 1.1rem;
}


/* end of agrokart unique */

/* end of home page main */

/* media queries start */




@media screen and (max-width: 600px) {

    /* start of adv */

    .home-page-adv{
        width: 90%;
    }

    .home-page-adv .slider figure img {
        height: 200px;
    }

    /* end of adv */

    /* start of main cat */

    .home-page-cat {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }


    .home-page-cat .cat_cont img {
        width: 40px;
    }

    .home-page-cat .cat_cont a p {
        font-size: .8rem;
    }

    .text-categories-home {
        display: grid;
        grid-template-columns: repeat(3, 130px);
        justify-items: center;
        row-gap: 20px;
    }

    .text-categories-home a {
        font-size: .9rem;
    }

    /* end of main cat */

    /* start of products design */

    .products-container {
        display: flex;
        flex-wrap: wrap;
        margin: 1em 0 0 0;
        justify-content: center;
    }

   .product-container {
        padding: 0 .5em .5em .5em;
    }

    .product-main {
        width: 175px;
        height: 400px;

    }

    .product-main .product-img {
        padding: 0 .3em
    }

    .product-main .product-img img {
        width: 125px;
        height: 125px;
    }

    .product-main .farmer-part {
        width: 130px;
    }

    .product-main .farmer-part img {
        width: 30px;
    }

    .product-main .category-title {
        font-size: .7rem;
    }

    .product-main .product-name p {
        font-size: .8rem;
    }

    .product-main .farmer-part .farmer-name {
        font-size: .8rem;
    }

    .product-main .rating-part {
        width: 120px;
    }

    .product-main .rating-part .rating i {
        font-size: .8rem;
    }

    .product-main .rating-part .rating-number p {
        font-size: .9rem;
    }

    .product-main .amount .amount-one {
        font-size: 1rem;
    }

    .product-main .qty-cat {
        width: 140px;
    }

    .product-main .qty-cat .qty input {
        width: 50px;
    }

    .product-main .qty-cat .add-button a {
        font-size: .8rem;
    }


    /* end of products desing */

    /* start of daily best products */

    .daily-best {
        font-size: 1.1rem;
    }

    /* end of daily best products */

    /* start of hassle section */

    .hassle-main .hassle-right {
        margin: 0 auto;
    }

    .hassle-main .hassle-right img {
        width: 150px;
    }

    .hassle-main {
        display: grid;
        grid-template-columns: 1fr;
        margin: 3em 1em 1em 1em
    }

    .hassle-left .hassle-text p {
        font-size: 1rem;
        text-align: center;
    }

    .hassle-left .hassle-input {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

    }

    .hassle-left .hassle-input i {
        display: none;
    }

    .hassle-left .hassle-input input {
        margin: 0 auto;
        width: 80%;
    }

    .hassle-left .hassle-input a {
        text-align: center;
        margin: 0 auto;
    }


    /* end of hassle section */

    /* unique sec start */

    .agrokart-unique {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .agrokart-unique .unique-cont {
        padding: 0;
        margin: 1em;
    }

    .unique-cont .unique-img i {
        font-size: 1.5rem;
    }

    /* end unique sec */

}


@media screen and (min-width: 601px) and (max-width: 900px) {

/* start of adv */

    .home-page-adv{
        width: 90%;
    }

    .home-page-adv .slider figure img {
        height: 275px;
    }

    /* end of adv */

     /* start of main cat */

    .home-page-cat {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }


    .home-page-cat .cat_cont img {
        width: 60px;
    }

    .home-page-cat .cat_cont a p {
        font-size: 1rem;
    }

    .text-categories-home {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        row-gap: 20px;
    }

    .text-categories-home a {
        font-size: 1.2rem;
    }

    /* end of main cat */

    /* start of products design */

    .products-container {
        display: flex;
        flex-wrap: wrap;
        margin: 1em 0 0 0;
        justify-content: center;
    }

   .product-container {
        padding: .5em .5em .5em .5em;
    }

    .product-main {
        width: 200px;
        height: 450px;

    }

    .product-main .product-img {
        padding: 0 .5em
    }

    .product-main .product-img img {
        width: 140px;
        height: 140px;
    }

    .product-main .farmer-part {
        width: 150px;
    }

    .product-main .farmer-part img {
        width: 40px;
    }

    .product-main .category-title {
        font-size: .8rem;
    }

    .product-main .product-name p {
        font-size: .9rem;
    }

    .product-main .farmer-part .farmer-name {
        font-size: .9rem;
    }

    .product-main .rating-part {
        width: 130px;
    }

    .product-main .rating-part .rating i {
        font-size: .9rem;
    }

    .product-main .rating-part .rating-number p {
        font-size: .9rem;
    }

    .product-main .amount .amount-one {
        font-size: 1.1rem;
    }

    .product-main .qty-cat {
        width: 160px;
    }

    .product-main .qty-cat .qty input {
        width: 60px;
    }

    .product-main .qty-cat .add-button a {
        font-size: .9rem;
    }


    /* end of products desing */

     /* start of daily best products */

    .daily-best {
        font-size: 1.3rem;
    }

    /* end of daily best products */

    /* start of hassle section */

    .hassle-main .hassle-right {
        margin: 0 auto;
    }

    .hassle-main .hassle-right img {
        width: 350px;
    }

    .hassle-main {
        display: grid;
        grid-template-columns: 1fr;
        margin: 3em 1em 1em 1em
    }

    .hassle-left .hassle-text p {
        font-size: 1.4rem;
        text-align: center;
    }

    .hassle-left .hassle-input {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

    }

    .hassle-left .hassle-input i {
        display: none;
    }

    .hassle-left .hassle-input input {
        margin: 0 auto;
        width: 80%;
    }

    .hassle-left .hassle-input a {
        text-align: center;
        margin: 0 auto;
        font-size: 1.2rem;
    }


    /* end of hassle section */

     /* unique sec start */

    .agrokart-unique {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }

    .agrokart-unique .unique-cont {
        padding: 0;
        margin: 1em;
    }

    .unique-cont .unique-img i {
        font-size: 1.5rem;
    }

    /* end unique sec */
    
}

/* media queries end */