/*start of list top */

.list-top ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #429b44;
    width: 220px;
    border-radius: 5px;
    margin: 2em 0 1em 1em;
}

.list-top ul li,
.list-top ul li a {
    padding: .2em;
    color: black;
}

.list-top ul li a:hover {
    color: #429b44;
    font-weight: 500;
}

/* end of list top */


/* start of profile section */

.profile-main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.profile-title {
    margin-left: 1em;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #253D4E;
}

/* start of profile left side */

.profile-left-side .profile-section .profile-img img {
    width: 80px;
    border-radius: 50%;
}

.profile-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1em;
    padding: 1em;
    width: 300px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    border-radius: 10px;
}

.profile-left-side .profile-options {
    margin: 1em;
    padding: 1em;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    border-radius: 10px;
}

.profile-left-side .profile-options .account-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.profile-options .profile-links {
    display: flex;
    flex-direction: column;
    margin-left: 2.2em;
    margin-top: 1.5em;
}

.profile-options .profile-links a {
    padding: 1em 0 1em 0;
}

.profile-details p {
    font-size: 1.2rem;
    color: #253D4E;
    font-weight: 500;
    padding: .2em;
}

.profile-details a {
    font-size: 1.2rem;
    color: blue;
    font-weight: 600;

}

.profile-details a:hover {
    text-decoration: underline;
    color: aqua;
}

.account-settings i {
    color: #429b44;
    font-size: 1.5rem;
}

.account-settings p {
    font-size: 1.2rem;
    font-weight: 600;
}

.profile-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #253D4E;
    font-weight: 500;
}


.profile-links a:hover {
    color: #429b44;
    text-decoration: underline;
}

/* end of profile left side */

/* start of profile right side */

.profile-right-side {
    margin: 1em;
    width: 800px;
}

.pro-settings-sec {
    padding: 1em;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    border-radius: 10px;

}

.pro-settings-sec .profile_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 375px;
    padding: 1em;
}



.profile-right-side .pro-settings-sec .profile_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: .2em 0 1.2em 0;
}


.profile-right-side .pro-settings-sec .profile_buttons .edit_profile {
    border: none;
    background-color: #429b44;
    color: white;
    padding: 1em;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.profile-right-side .pro-settings-sec .profile_buttons .save_profile {
    border: none;
    background-color: #429b44;
    color: white;
    padding: 1em;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.profile-right-side .pro-settings-sec .profile_buttons button:hover {
    background-color: orangered;
    color: white;
}

.profile-right-side .pro-settings-sec .flex_so {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
}


.name-input input {
    width: 250px;
    height: 50px;
    padding-left: 1em;
    border-radius: 10px;
    margin-left: 1.7em;
}

.name-input label {
    font-weight: 500;
}


.gender-sec label {
    margin-left: 1em;
}

.gender-sec .gender {
    font-weight: 500;
}


.email-input input {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    padding-left: 1em;
    margin-left: 2em;
}

.email-input label {
    font-weight: 500;
}


.mobile-input input {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    padding-left: 1em;
    margin-left: .8em;
}

.mobile-input label {
    font-weight: 500;
}

/* manage address start */

.manage-address {
    padding: 1em;
    background-color: white;
    margin-top: 1em;
    border-radius: 10px;
}

.manage-address .address_title {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    margin: .3em 0 1em 0;
}


.manage-address .add-new-address {
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid black;
    margin-bottom: 1em;
    border-radius: 10px;
    background-color: #f2f3f4;
    cursor: pointer;
    font-weight: 500;
    padding: .5em;
}


.manage-address form .address-form {
    background-color: #f2f3f4;
    padding: 1em;
    height: 300px;
    border: 2px solid #429b44;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.manage-address form .address-form .address_input_label{
    width: 100px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.manage-address form .address-form .address_input_label label {
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
}

.manage-address .address-form .address_inputs {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 280px;
    justify-content: space-around;
}

.manage-address .address-form .address_inputs input {
    height: 50px;
    border-radius: 10px;
    padding-left: 1em;
}

.manage-address form .address-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.manage-address form .address-buttons button{
    background-color: #429b44;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin: 1em 1em 1em 1em;
    font-size: 1.1em;
    font-weight: 500;
}

.manage-address form .address-buttons button:hover{
    background-color: orangered;
    color: white;
}

.manage-address .show-address{
    border-radius: 5px;
    background: #d0e9f0;
    padding: .5em;
  
}

.manage-address .show-address .address-show .user-address{
    text-align: center;
    font-weight: 500;
    border: 2px solid black;
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
}

.show-address .address-show {
    margin-bottom: 1em;
}

.show-address .address-show .address-edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .5em;
    margin-bottom: .5em;
} 

.show-address .address-show .address-edit button {
    border: none;
    padding: 1em;
    background-color: #429b44;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}



/* manage address end */

/* end of profile right side */

/* end of profile section */