/* start of list top */

.list-top {
    margin: 1em 0 1em 1em;

}

.list-top .all-products {
    border: 2px solid #429b44;
    width: 130px;
    margin-bottom: 1em;
    padding: .5em;
    border-radius: 5px;
}

.list-top ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #429b44;
    width: 200px;
    border-radius: 5px;
}

.list-top ul li, .list-top ul li a {
    padding: .2em;
    color: black;
}

.list-top ul li a:hover {
    color: #429b44;
    font-weight: 500;
}

/* end of list top */


/* start of about us */

.about-title {
    font-size: 1.5rem;
    color: #253D4E;
    margin-top: 2em;
    margin-left: 2em;
}

/* end of about us */

