@media screen and (max-width: 600px) {

    .list-top ul {
        width: 280px;
    }

    .list-top ul li a, .list-top ul li  {
        font-size: .9rem;
    }

    .mobile-manage-address-main > p{
        font-size: 1.2rem;
        color: black;
        width: 80%;
        font-weight: 600;
        margin-inline: auto;
        margin-top: 1em;
    }
    
    .mobile-manage-address {
        padding: 1em;
        background-color: white;
        margin-top: 1em;
        border-radius: 10px;
        width: 90%;
        margin-inline: auto;
    }
   
    .mobile-manage-address-items {
        margin-top: 1em;
    }

    .mobile-manage-address-items .mobile-add-new-add {
        text-align: center;
        font-size: .9rem;
        border: 1px solid black;
        margin-bottom: 1em;
        padding: 1em;
        border-radius: 10px;
        background-color: #f2f3f4;
    }
    
    .mobile-manage-address-items .mobile-home-add {
        font-size: .9rem;
        border: 1px solid black;
        text-align: center;
        padding: 1em;
        border-radius: 10px;
        background-color: #f2f3f4;
    }

    .mobile-manage-address-items .mobile-home-add i {
        float: right;
        color: #429b44;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {

    .list-top ul {
        width: 340px;
    }

    .list-top ul li a, .list-top ul li  {
        font-size: 1.1rem;
    }

    .mobile-manage-address-main > p{
        font-size: 1.4rem;
        color: black;
        width: 80%;
        font-weight: 600;
        margin-inline: auto;
        margin-top: 1em;
    }
    
    .mobile-manage-address {
        padding: 1em;
        background-color: white;
        margin-top: 1em;
        border-radius: 10px;
        width: 90%;
        margin-inline: auto;
    }
   
    .mobile-manage-address-items {
        margin-top: 1em;
    }

    .mobile-manage-address-items .mobile-add-new-add {
        text-align: center;
        font-size: 1.2rem;
        border: 1px solid black;
        margin-bottom: 1em;
        padding: 1em;
        border-radius: 10px;
        background-color: #f2f3f4;
    }
    
    .mobile-manage-address-items .mobile-home-add {
        font-size: 1.1rem;
        border: 1px solid black;
        text-align: center;
        padding: 1em;
        border-radius: 10px;
        background-color: #f2f3f4;
    }

    .mobile-manage-address-items .mobile-home-add i {
        float: right;
        color: #429b44;
    }
    
}