@media screen and (max-width: 600px) {

    .list-top ul {
        width: 260px;
    }

    .list-top ul li a, .list-top ul li  {
        font-size: .9rem;
    }
    
    .mobile-profile-setting-main {
        width: 90%;
        margin: 0 auto;
    }

    .mobile-profile-setting-cont {
        background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    border-radius: 10px;
    padding: 1em;
    }

    .mobile-pro-settings-sec .mobile-input input {
       border-top-style: hidden;
       border-right-style: hidden;
       border-left-style: hidden;
       border-bottom-style: groove;
    }

    .mobile-pro-settings-sec .mobile-opt-title p{
        padding-bottom: .5em;
        font-size: 1rem;
        font-weight: 600;
    }  

    .mobile-pro-settings-sec .mobile-opt-title a {
        font-size: .9rem;
        font-weight: 400;
        color: blue;
    } 
    
    .mobile-pro-settings-sec .mobile-gender {
        margin-top: .5em;
        padding-bottom: .5em;
        font-size: 1rem;
        font-weight: 600;
    }

    .mobile-profile-save {
        display: inline-block;
        background-color: green;
        margin-inline: 0;
        text-align: center;
        width: 100%;
        margin-block: 1em;
        padding: 1em;
        border-radius: 10px;
        color: white;

    }

    .mobile-profile-save:hover {
        background-color: greenyellow;
    }
}


@media screen and (min-width: 601px) and (max-width: 900px) {
    
    .list-top ul {
        width: 320px;
    }

    .list-top ul li a, .list-top ul li  {
        font-size: 1.1rem;
    }
    
    .mobile-profile-setting-main {
        width: 90%;
        margin: 0 auto;
    }

    .mobile-profile-setting-cont {
        background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    border-radius: 10px;
    padding: 1em;
    }

    .mobile-pro-settings-sec .mobile-input input {
       border-top-style: hidden;
       border-right-style: hidden;
       border-left-style: hidden;
       border-bottom-style: groove;
    }

    .mobile-pro-settings-sec .mobile-opt-title p{
        padding-bottom: .5em;
        font-size: 1.1rem;
        font-weight: 600;
    }  

    .mobile-pro-settings-sec .mobile-opt-title a {
        font-size: 1.1rem;
        font-weight: 400;
        color: blue;
    } 
    
    .mobile-pro-settings-sec .mobile-gender {
        margin-top: .5em;
        padding-bottom: .5em;
        font-size: 1.1rem;
        font-weight: 600;
    }

    .mobile-profile-save {
        display: inline-block;
        background-color: green;
        margin-inline: 0;
        text-align: center;
        width: 100%;
        margin-block: 1em;
        padding: 1em;
        border-radius: 10px;
        color: white;

    }

    .mobile-profile-save:hover {
        background-color: greenyellow;
    }
}